@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  --primary-font: "Inter", sans-serif;
  --regular-weight: 400;
  --bold-weight: 700;
  --extra-bold-weight: 800;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--primary-font);
  font-weight: var(--regular-weight);
  display: flex;
}

h1 {
  font-size: 38px;
  line-height: 38px;
  font-weight: var(--extra-bold-weight);
}

p {
  font-size: 15px;
  font-weight: var(--regular-weight);
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

button {
  font-family: inherit;
  background-color: hsl(5, 85%, 63%);
  border: none;
  padding: 0.6em 1em;
  text-transform: uppercase;
  color: hsl(36, 100%, 99%);
  font-weight: var(--regular-weight);
  letter-spacing: 2px;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
}

.nav {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.hero-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-start;
}

.hero-desk-img {
  display: none;
}

.new-section {
  display: flex;
  flex-direction: column;
  background-color: hsl(240, 100%, 5%);
  padding: 1.5em 1em;
  gap: 1.5em;
}

.new-head {
  text-transform: capitalize;
  color: hsl(35, 77%, 62%);
}

.new-article {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.new-article:not(:last-child) {
  border-bottom: 1px solid hsl(36, 100%, 99%);
  opacity: 0.8;
  padding-bottom: 1.8em;
}

.new-article-head {
  text-transform: capitalize;
  color: hsl(36, 100%, 99%);
}

.new-article-description {
  color: hsl(36, 100%, 99%);
  opacity: 0.8;
}
