@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  --primary-font: "Inter", sans-serif;
  --regular-weight: 400;
  --bold-weight: 700;
  --extra-bold-weight: 800;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--primary-font);
  font-weight: var(--regular-weight);
  display: flex;
}

h1,
h2,
h3,
h4 {
  font-weight: var(--extra-bold-weight);
}

h1 {
  font-size: 38px;
  line-height: 38px;
  font-weight: var(--extra-bold-weight);
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 18px;
  font-weight: var(--bold-weight);
}

h4 {
  font-size: 20px;
}

p {
  font-size: 15px;
  line-height: 20px;
  font-weight: var(--regular-weight);
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.btn {
  font-family: inherit;
  background-color: hsl(5, 85%, 63%);
  border: none;
  padding: 0.6em 1em;
  text-transform: uppercase;
  color: hsl(36, 100%, 99%);
  font-weight: var(--regular-weight);
  letter-spacing: 2px;
  transition: 0.5s;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: hsl(240, 100%, 5%);
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
}

.nav {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin-bottom: 64px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-start;
}

.hero-desk-img {
  display: none;
}

.new-section {
  display: flex;
  flex-direction: column;
  background-color: hsl(240, 100%, 5%);
  padding: 1.5em 1em;
  gap: 1.5em;
}

.new-head {
  text-transform: capitalize;
  color: hsl(35, 77%, 62%);
}

.new-article {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.new-article:not(:last-child) {
  border-bottom: 1px solid hsl(36, 100%, 99%);
  opacity: 0.8;
  padding-bottom: 1.8em;
}

.new-article-head a {
  text-decoration: none;
  text-transform: capitalize;
  color: hsl(36, 100%, 99%);
  transition: 0.3s;
}

.new-article-head a:hover {
  color: hsl(35, 77%, 62%);
}

.new-article-description {
  color: hsl(36, 100%, 99%);
  opacity: 0.8;
}

.article-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
  padding-bottom: 4em;
}

.article {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 16px;
}

.article-img {
  max-width: 100%;
  object-fit: cover;
  align-self: stretch;
}

.article-body {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.article-number {
  font-size: 28px;
  font-weight: var(--bold-weight);
  color: hsl(233, 8%, 79%);
}

.article-head a {
  text-decoration: none;
  transition: 0.3s;
  color: #000;
}

.article-head a:hover {
  color: hsl(5, 85%, 63%);
}

.article-description {
  grid-area: description;
}

@media (min-width: 768px) {
  .hero-mob-img {
    display: none;
  }

  .hero-body {
    max-width: 700px;
  }
  .hero-desk-img {
    display: block;
    grid-area: heroImg;
  }
}

@media (min-width: 1280px) {
  .header {
    justify-content: space-between;
  }

  .nav {
    display: flex;
  }

  .nav-list {
    display: flex;
    gap: 1.5em;
  }

  .nav-link {
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
    opacity: 0.9;
    transition: 0.3s;
  }

  .nav-link:hover {
    color: hsl(35, 77%, 62%);
  }

  .main {
    display: grid;
    grid-template-columns: 1fr 28%;
  }

  .article-section {
    grid-column: 1 / -1;
  }

  .hero-mob-img {
    display: none;
  }

  .hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "heroImg heroImg"
      "heroHead heroBody"
      "heroHead heroBtn";
  }

  .hero-desk-img {
    display: block;
    grid-area: heroImg;
  }

  .hero-head {
    grid-area: heroHead;
  }

  .hero-body {
    grid-area: heroBody;
  }

  .btn {
    grid-area: heroBtn;
    justify-self: flex-start;
  }
  .article-section {
    padding: 0;
  }
}
